.about-container {
  background-image: url("../../assets/bg-about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  height: 70vh;
  max-height: 70vh;
  color: white;
}

.about-section {
  box-sizing: border-box;
  padding: 60px;
}

.about-title {
  font-size: 26px;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

.about-content {
  padding-top: 20px;
  text-shadow: 2px 2px #666;
}

@media screen and (max-width: 650px) {
  .about-section {
    box-sizing: border-box;
    padding: 20px;
  }
}