ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li:last-child {
  margin-right:40px;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar {
  min-height: 50px;
  background-color: #777474;
}

.navbar ul li a:hover {
  color: #231f20;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-link {
  color: #fff;
  padding: 16px 14px;
}

.logo {
  height: 35px;
  padding: 5px 30px 0px 30px;
}

.right {
  float: right;
  text-align: center;
  margin-top: 6px;
  min-width: 140px;
  border-radius: 5px;
  background-image: linear-gradient(#3a3e41, #35363a);
}

@media screen and (max-width: 650px) {
  li:last-child {
    margin-right:10px;
  }
  .logo {
    height: 25px;
    padding: 15px 5px 0px 10px;
  }
  .navbar li a {
    padding: 16px 5px;
  }
  .navbar-link {
    padding: 16px 5px;
  }
}